@use "./variables" as *;

.game-board {
  display: grid;
  grid-template-columns: repeat(8, 10vw);
  grid-template-rows: repeat(8, 10vh);
  background-color: $color-dark-brown;

  border: 2px solid $color-light-brown;
  width: 80vw;
  height: 80vh;

  &__player-character {
    width: 100%;
    height: 100%;
  }
  &__goblin {
    width: 100%;
    height: 100%;
  }
  &__fireball {
    width: 100%;
    height: 100%;
  }
  &__game-over-message {
    color: $color-tan;
    grid-area: 3/2/5/8;
    align-self: center;
  }
  &__game-over-meme {
    
  }

}

@keyframes move-left-animation {
  to {
    transform: translateX(-10vw);
  }
}

@keyframes move-right-animation {
  to {
    transform: translateX(10vw);
  }
}

@keyframes move-up-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10vh);
  }
}