@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$grid-width : 70vw;
$grid-height : 90vh;

$grid-width-mobile : 80vw;
$grid-height-mobile : 80vh;

$color-dark-brown:#1d1716;
$color-brown:#402a23;
$color-light-brown:#a55233;
$color-tan:#f3bc77;

$font-main: "Press Start 2P", "sans serif";