@use "./variables" as *;
@use "./gameboard";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-brown;
}

.title{
    color: $color-tan;
    font-size: 3rem;
}